---
apiVersion: v1
kind: Pod
metadata:
  labels:
    app: openmrs-core
    ver: 2.4.0
  name: openmrscore
spec:
  containers:
    - image: shaikkhajaibrahim/openmrs-core:2.4.0
      name: openmrs
      ports:
        - containerPort: 8080
          protocol: TCP
      